<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-style.css">
    <link rel="stylesheet" href="/Assets/fontawesome-free-6.4.0-web/css/all.min.css">
    <title>Se connecter</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="login-main">
                <header class="logo">
                    <h1 class="text-logo">
                        <a href="">
                            BAZAR
                        </a>
                    </h1>
                </header>

                <div class="hors-ligne">
                    <div class="hors-ligne-content">
                        <div class="logo-hors-ligne">
                            <i class="fa fa-exclamation-circle logo-exclamation"></i>
                        </div>

                        <div class="hors-line-text">
                            <div class="text-heading">
                                <h2>Vous etes hors ligne.</h2>
                            </div>
                            <div class="text-body">
                                <p>Reconnectez-vous ou actualisez la page pour vous connectez.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="login-content">
                    <h1 class="ui-heading" >Connexion</h1>
                    <h3 class="ui-subheading">Continuer vers Bazar</h3>

                    <form action="#" class="form">
                        <div class="combined-email">
                            <label for="account_email" class="label-email">Email</label>
                            <div class="combined-input">
                                <input type="email" name="account_email" id="" class="passkey-button">
                                <button class="key"><i class="fa fa-key"></i></button>
                            </div>
                        </div>

                        <div class="boutton">
                            <button type="submit" class="btn">Continuez avec e-mail</button>
                        </div>
                    </form>

                    <div class="login-extern">
                        <span class="espace">ou</span>
                    </div>

                    <a href="#" class="lien">
                        <i class="fab fa-apple icone icone-a"></i>
                        <span>Continuer avec Apple</span>
                    </a>
                    <a href="#" class="lien">
                        <i class="fab fa-facebook icone icone-facebook"></i>
                        <span>Continuer avec Facebook</span>
                    </a>
                    <a href="#" class="lien">
                        <i class="fab fa-google icone icone-google"></i>
                        <span>Continuer avec Google</span>
                    </a>

                    <p class="signup-link">
                        Debutant sur BaZaR ? <a href="#">Demarrer</a>
                    </p>
                </div>
            </div>

            <footer class="login-footer">
                
                <a href="#" class="login-footer-link">Aide</a>
                <a href="#" class="login-footer-link">Confidentialite</a>
                <a href="#" class="login-footer-link">Conditions</a>

            </footer>
        </div>

        <footer class="hidden footer-mobile">
            <a href="#" class="login-footer-link-mobile">Aide</a>
            <a href="#" class="login-footer-link-mobile">Confidealite</a>
            <a href="#" class="login-footer-link-mobile">Conditions</a>


        </footer>
    </div>
</body>
</html>